*{
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-container > div:not(.header){
    padding: 40px 200px;
}

/*header*/
.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.header-logo{
    font-size: 24px;
    font-weight: 900;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

/*first section*/

.div1{
    clear: both;
    background-color: #1f2937;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head-page{
    width: 500px;
    margin-right: 5%;
}

.hero-text{
    vertical-align: center;
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
}

.hero-p{
    vertical-align: center;
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}


/*second section*/

.div2{
    text-align: center;
    color: #1f2937;
    font-size: 36px;
}

.images{
    display: flex;
    justify-content: center;
}

.marin1{
    width: 15%;
    font-size: 18px;
    color: #1f2937;
}

.marin2{
    width: 100%;
    border-radius: 10px;
}

/*quote div*/

.div3{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.action{
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p1{
    font-weight: bold;
    font-size: 18px;
}

.p2{
    margin-top: 0;
}

.action3{
    text-align: center;
}

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.mybutton1{
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    width: 100px;
    height: 35px;
}

.mybutton2{
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    width: 100px;
    height: 35px;
}
